* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
}
.menu {
  width: 1000px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 35px;
}
.logo img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

div > p {
  color: gray;
}
.titulo {
  text-align: center;
  width: 100%;
  color: white;
}

.botao {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 35px;
  border-radius: 5px;
}
.botao-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.botao:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.menu-usuario {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usuario:hover img {
  border: 1px solid white;
  cursor: pointer;
}
.usuario:hover p {
  color: white;
  cursor: pointer;
}

.usuario img {
  width: 120px;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
